.button {
    margin-right: 16px;
    background: none;
    color: white;
    font-size: 18px;
    padding: 6px 24px;
    border: 1px solid white;
    cursor: pointer;
    opacity: 0.75;
    transition: 0.3s;
    border-radius: 6px;
    box-shadow: 2px 2px 8px #555;
}

.action_button {
    background: orange;
    border: none;
}

.button:hover {
    opacity: 1;
}

.button:active {
    box-shadow: -2px -2px 8px #555;
}